body{
	font: 15px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #F4F4F4;
}

/* Estilos Globales */
.contenedor{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.boton1{
	height: 30px;
	background-color: #C8491D;
	border: 0;
	padding: 0 20px;
	color: #FFFFFF;
}

/* Encabezado */
header{
	background-color: #242826;
	color: #FFFFFF;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #1293D4;
}

header a{
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px;
}

header #marca{
	float: left;
}

header #marca h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .resaltado, header .actual a{
	color: #1293D4;
	font-weight: bold; /* Negrilla */
}

header a:hover{
	color: #CCCCCC;
	font-weight: bold;
}

/* Cabecera con Imagen */
#cabecera{
	min-height: 400px;
	background: url("../images/cabecera.jpg") no-repeat  0 -400px;
	text-align: center;
	color: #FFFFFF;
}

#cabecera h2{
	margin: 100px 0 10px 0;
	font-size: 55px;
}

#cabecera p{
	font-size: 20px;
}

/* Formulario boletín */
 #boletin{
 	padding: 15px;
 	color: #FFFFFF;
 	background: #24282B;
 }
 
 #boletin h1{
 	float: left;
 }

  #boletin form{
 	float: right;
 	margin-top: 15px;
 }

 #boletin input[type="email"]{
 	padding: 4px;
 	height: 25px;
 	width: 250px;
 }

 /* Cajas */
 #cajas{
 	margin-top: 20px;
 }

#cajas .caja{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

 #cajas .caja img{
 	width: 80px;
 }

 /* Pie de página */
 footer{
 	padding: 20px;
 	margin-top: 20px;
 	color: #FFFFFF;
 	background-color: #1293D4;
 	text-align: center;
 }

 video{}